.recording-modal .modal-wrapper ion-page{
    justify-content: space-around;
}

.recordings-indicator{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1em;
}
.recordings-indicator .indicator{
    background-color: var(--ion-color-primary)	;
    border-radius: 5px;
}



ion-slides {
    height: 100%;
    width: 100%;
  }
.swiper-slide {
    display: flex;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    /* max-height: 30%; */
    width: clamp(120px, 25vh,200px);
    max-width: 200px;
    margin: 1em 0 0.8em;
    pointer-events: none;
  }

  .swiper-slide p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  .swiper-pagination-bullet{
    opacity: 0.5;
  }
