@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

// Media Queries
@mixin minq($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

$color_dark: #181818;
$color_light: #e2d6d6;
$color_primary: #e4446c;
$font_headings: "Montserrat Alternates", sans-serif;
$font_body: "Nunito", sans-serif;
$size_mobile: 320px;
$size_tablet: 768px;
$size_desktop: 1024px;

:root {
  font-size: 15px;
  @include minq($size_mobile) {
    font-size: 17px;
  }
  @include minq($size_tablet) {
    font-size: 20px;
  }
  @include minq($size_desktop) {
    font-size: 22px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $color_light;
}
