:root {
  --blackH: #2f3640;
  --blueH: #192a56;
  --greyL: #7f8fa6;
  --whiteL: #f5f6fa;
  --orangeL: #e84118;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* -webkit-user-select: none; */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button.installPrompt {
  z-index: 99;
  position: absolute;
  top: 200px;
}

.site_wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--blackH);
  color: var(--whiteL);

}

.navigation {
  background-color: var(--blackH);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh
}
.navigation a {
  text-decoration: none;
  padding: 15px 15px;
}
.navigation .logo .logoBrand {
  color: var(--whiteL);
}
.navigation .menu {
  background-color: var(--blackH);
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.navigation .menu li a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  color: #e0e0e0;
}
.navigation .menu li a:hover {
  color: var(--whiteL);
}
.navigation .menu li {
  transition: all 0.8s ease-out 0.5s;
}



main{
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  /* text-align: center; */
  margin: auto;
}

.feedbackMessage {
  min-width: 280px;
  position: absolute;
  bottom: 10vh;
  /* text-align: center; */
  background-color: rgb(255, 255, 255);
  color: black;
  line-height: 2;
  min-width: 200px;
  margin: auto;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 2px;
  width: max-content;
  /* display: none; */
  z-index: 3;
}