@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
:root {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 2px solid #e4446c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #e2d6d6;
}

.site_wrapper {
  min-width: 270px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: #181818;
  position: relative;
  /* color: $color_dark;
  background-color: $color_light; */
}

main {
  margin: auto;
}

.header__heading {
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}

.header__tagline {
  line-height: 2;
  font-family: "Montserrat Alternates", sans-serif;
}

.measures {
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.measures__bpm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.measures__bpm__value {
  font-size: 3em;
  color: #e4446c;
  font-family: "Montserrat Alternates", sans-serif;
}

.measures__bpm__label {
  font-size: 1em;
}

.measures__heart {
  background-color: #e4446c;
  cursor: pointer;
  width: clamp(20px, 5em, 100px);
  height: clamp(20px, 5em, 100px);
  border-radius: 50%;
  padding: 1em;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.measures__heart__image {
  width: 100%;
  height: 100%;
}

.measures__heart__image_beating {
  -webkit-animation: heartbeat;
          animation: heartbeat;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.measures__heart__image path {
  fill: #e2d6d6;
}

.measures__slider {
  display: block;
}

.player__tracklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.player__tracklist__sample {
  padding: 1em;
  margin: 0.5em;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.connection {
  background-color: #181818;
}

.connection__button {
  display: none;
  outline: none;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 0.5em 0.7em;
}

.feedbackMessage {
  min-width: 280px;
  margin-top: 2em;
  list-style-type: none;
  border-radius: 1em;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.219);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.219);
  color: #181818;
  line-height: 2;
  width: 100%;
  padding: 5px;
  height: 300px;
  overflow: auto;
  border-radius: 0.3em;
}

.beating_heart {
  font-size: 2em;
  text-align: center;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 68, 108, 0.6);
            box-shadow: 0 0 0 0 rgba(228, 68, 108, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 3em rgba(228, 68, 108, 0);
            box-shadow: 0 0 0 3em rgba(228, 68, 108, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 68, 108, 0);
            box-shadow: 0 0 0 0 rgba(228, 68, 108, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 68, 108, 0.6);
            box-shadow: 0 0 0 0 rgba(228, 68, 108, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 3em rgba(228, 68, 108, 0);
            box-shadow: 0 0 0 3em rgba(228, 68, 108, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 68, 108, 0);
            box-shadow: 0 0 0 0 rgba(228, 68, 108, 0);
  }
}
/*# sourceMappingURL=style.css.map */