:root {
  --blackH: #2f3640;
  --blueH: #192a56;
  --greyL: #7f8fa6;
  --whiteL: #f5f6fa;
  --orangeL: #ff0000;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
}

.site_wrapper {
  position: relative;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  min-height: 100vh;
  color: var(--blackH);
  background-color: var(--whiteL);

}



main{
  min-width: 270px;
  max-width: 500px;
  width: 100%;
  /* text-align: center; */
  margin: auto;
}

.feedbackMessage {
  min-width: 280px;
  margin-top: 2em;
  list-style-type: none;
  border-radius: 1em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.219);
  color: var(--blackH);
  line-height: 2;
  width: 100%;
  /* margin: auto; */
  font-size: 0.8rem;
  padding: 5px;
  height: 300px;
  overflow: auto;
  border-radius: 0.3em;
}
.hr{
  /* color: ; */
  text-align: center;
  font-size: 2.5em;
  margin: 1em auto 1em;
}

.btns{
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.connect, .disconnect, .mute{
  outline: none;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  padding: .5em 0.7em;
  
  background-color: var(--blueH);
  color: var(--whiteL);
}

.heart{
  font-size: 2em;
  text-align: center;
  animation: heartbeat ;
  animation-duration: 0s;
  animation-iteration-count: infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}